@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-6">
        <div class="pb-2">
            <div class="p-3 mb-2 bg-dark text-white">quick post</div>
            <div id="ta-post"></div>
        </div>
        <button class=" btn btn-secondary me-3">save for later</button>
        <button class=" btn btn-primary">publish</button>
    </div>
    <div class="col-6">
        <div class="p-3 mb-2 bg-dark text-white">notifications</div>
          <div class="toast show">
            <div class="toast-header">
                You have new comments!!
            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body">
                There are new comments on your posts!
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div classs="col-12">
        <div class="pt-4">
           <div class="p-3 mb-2 bg-dark text-white">recent posts</div>
           <table class="table">
            <thead>
              <tr>
                <th>Status</th>
                <th>Title</th>
                <th>Content Preview</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
                
            </tbody>
          </table>
        </div>
    </div>
</div>
